* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 87.5rem;
  width: 90%;
}

li {
  list-style: none;
}
